
body{

    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent{

    width: 75%;
    height: 400px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: rgb(170, 175, 173);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 10px;
}

.child{

    background-color: aqua;
    border: 1px solid rgb(241, 235, 235);

}